@charset "UTF-8";

body, div, header, footer, section, aside, h1, h2, h3, h4, h5, p,
nav, ul, li, ol, dl, dt, dd {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}
